Andras Foldvari <fandras95@gmail.com> fandras <fandras@sch.bme.hu>
Andras Foldvari <fandras95@gmail.com> András Földvári <fandras95@gmail.com>
Istvan Telek <telek96+github@gmail.com> Telek István <telek96+github@gmail.com>
Istvan Telek <telek96+github@gmail.com> Telek István <telek96@gmail.com>
Istvan Telek <telek96+github@gmail.com> <realmoriss@users.noreply.github.com>
Botond Dobai <dobai.botond@gmail.com> boti996 <dobai.botond@gmail.com>
Botond Dobai <dobai.botond@gmail.com> Boti <dobai.botond@gmail.com>
Marton Kover <koverm0414@gmail.com> Koverm <koverm0414@gmail.com>
Marton Kover <koverm0414@gmail.com> LENOVO-MARCI\Márton <koverm0414@gmail.com>
